In [23]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
sns.set()
from matplotlib import pyplot as plt 
%matplotlib inline

In [24]:
df = pd.read_csv('train_anonimized.csv')

In [25]:
df.head()

           NAICS_DESC     DATE  REVENUE  anonimized_name
0  Commercial Banking  8/30/21       22  Jason Brown INC
1  Commercial Banking  8/31/21       98  Jason Brown INC
2  Commercial Banking   9/1/21       77  Jason Brown INC
3  Commercial Banking   9/2/21       82  Jason Brown INC
4  Commercial Banking   9/3/21       76  Jason Brown INC

In [26]:
df.shape

(25163, 4)

In [27]:
df.isnull().sum()

NAICS_DESC         2592
DATE                  0
REVENUE               0
anonimized_name       0
dtype: int64

In [28]:
df.isna().sum()

NAICS_DESC         2592
DATE                  0
REVENUE               0
anonimized_name       0
dtype: int64

In [29]:
newdf = df.dropna()
newdf.isnull().sum()

NAICS_DESC         0
DATE               0
REVENUE            0
anonimized_name    0
dtype: int64

In [30]:
newdf.head()

           NAICS_DESC     DATE  REVENUE  anonimized_name
0  Commercial Banking  8/30/21       22  Jason Brown INC
1  Commercial Banking  8/31/21       98  Jason Brown INC
2  Commercial Banking   9/1/21       77  Jason Brown INC
3  Commercial Banking   9/2/21       82  Jason Brown INC
4  Commercial Banking   9/3/21       76  Jason Brown INC

In [31]:
newdf['NAICS_DESC'].value_counts()

Commercial Banking                2368
Direct Property and Casualty I    1942
Executive Offices                 1869
Direct Life Insurance Carriers    1714
Data Processing, Hosting, and     1116
Offices of Other Holding Compa    1111
Direct Health and Medical Insu    1022
All Other Legal Services          1009
Civic and Social Organizations     786
Real Estate Credit                 779
All Other Support Services         768
Footwear Manufacturing             652
Jewelry Stores                     642
Offices of Physicians, Mental      587
Search, Detection, Navigation,     576
Sheet Metal Work Manufacturing     536
Electronic Shopping and Mail-O     520
Offices of Lawyers                 488
Insurance Agencies and Brokera     472
Industrial Machinery and Equip     441
Payroll Services                   429
Offices of Physicians (except      419
Crude Petroleum Extraction         418
Nursery and Tree Production        407
Financial Transactions Process     321
Credit Bureaus                     314
Printing Machinery and Equipme     227
Commercial Printing (except Sc     214
New Car Dealers                    198
Women's, Children's, and Infan     122
Pharmacies and Drug Stores         101
Doll, Toy, and Game Manufactur       3
Name: NAICS_DESC, dtype: int64

In [32]:
newdf['anonimized_name'].value_counts()

Jason Brown INC              1872
Kimberly Pratt INC           1116
Hannah Holland INC           1009
Holly Roberts INC             941
Larry Morales INC             786
Brian Porter INC              780
Brian Miller INC              779
Renee Fisher INC              773
Brian Moore INC               768
Amy Dunn INC                  689
Cory Cooper INC               652
Gary Nguyen INC               642
Matthew Valdez INC            627
Jeffrey Brown INC             587
Jacob Stein INC               587
Russell Yang INC              576
Sean Weeks INC                575
Jessica Hendricks INC         550
Daniel George INC             536
Dean Welch INC                520
Anne Davis INC                484
Nicholas Evans INC            472
Brian Lester INC              441
Miss Amanda Harris MD INC     429
James Sandoval INC            423
Ruth Hoffman INC              419
Angela Maynard INC            418
Todd Young INC                407
Aaron Walker INC              402
Scott Baker INC               383
Teresa Haynes INC             374
Robert Yoder INC              321
John Houston INC              314
Cody Brown INC                297
Emily Blair INC               275
Brian Maxwell INC             227
Phyllis Hess INC              221
Morgan Foster INC             198
Andrew Perez INC              191
David Moody INC               175
Lisa Wilson INC               122
Adam Hoffman INC              101
Alexander Poole INC            86
Brian Lee INC                  23
Rebecca Castro INC              3
Name: anonimized_name, dtype: int64

In [33]:
condition = newdf.groupby(['NAICS_DESC','anonimized_name']) 
rev = condition['REVENUE'].sum().sort_values(ascending=False).head(10)
rev

NAICS_DESC                      anonimized_name
Credit Bureaus                  John Houston INC      11195871
Industrial Machinery and Equip  Brian Lester INC       9147999
Data Processing, Hosting, and   Kimberly Pratt INC     8041960
Direct Property and Casualty I  Sean Weeks INC         7765955
All Other Support Services      Brian Moore INC        7566217
Direct Life Insurance Carriers  Renee Fisher INC       6234479
Nursery and Tree Production     Todd Young INC         6133011
Direct Life Insurance Carriers  Holly Roberts INC      6083809
All Other Legal Services        Hannah Holland INC     6059928
Executive Offices               James Sandoval INC     5234099
Name: REVENUE, dtype: int64